/* ----- Side Bar ----- */

/* Global font */
@font-face {
    font-family: "roboto";
    src: url("Roboto-Regular.ttf") format("truetype");
}

/* Backgrounds */
.left_col {
	background-color: #1F252AFF;
}

.site_title {
	background-color: #57585A;
}

.nav_title {
	background-color: #343D46FF;
}

/* Footer */
.sidebar-footer {
	background-color: #343D46FF !important;
}

.sidebar-footer a {
	background: #57585A;
}

.sidebar-footer a:hover {
	background: #7E7E7E;
}

a:focus, a:hover {
    color: #C74A17 !important;
}

a {
    color: #CB6637FF;
}

#dropdown {
    color:#FF5E15FF;
}

/* Menus */
.nav.side-menu > li.active > a {
    text-shadow: rgba(0,0,0,.25) 0 -1px 0;
    background: linear-gradient(#57585A,#7E7E7E),#1F252AFF;
    background-color: #7E7E7E;
    background-image: linear-gradient(#57585A, #7E7E7E), none;
}

.nav.side-menu > li.active, .nav.side-menu > li.current-page {
    border-right: 5px solid #C74A17;
}

.nav-md ul.nav.child_menu li::before {
    background: #C74A17;
}

.nav-md ul.nav.child_menu li::after {
    border-left: 1px solid #C74A17;
}

/* Navbar Top */
#menu_toggle {
	color: #1F252AFF;
}

/* Profile Infos */
.profile_info{
	width:100%;
}

/* Side Bar Hidden */
.nav-sm .nav.child_menu li.active, .nav-sm .nav.side-menu li.active-sm {
    border-right: 5px solid #C74A17;
}

.nav-sm ul.nav.child_menu li {
	background-color: #7E7E7E;
}

#footersettings{
    color:#fff;
}

/* ----- Registration -----*/
/* Alter success */
.alert-success {
    color: #fff;
    background-color: #58B749FF;
    border-color: #528C49FF;
}

/* Btn Cancle */
.btn-primary {
    color: #fff;
    background-color: #343D46;
    border-color: #1A1E23;
}
.btn-primary:hover {
    color: #fff !important;
    background-color: #AAAA7F;
    border-color: #1A1E23;
}

.btn-primary:focus {
    color: #fff !important;
    background-color: #444433;
    border-color: #010102;
}


/* Btn Register */
.btn-success {
    background-color: #C74A17 !important;
    border-color: #8D3310 !important; 
}
.btn-success:hover {
    color: #fff;
    background-color: #EA975F !important;
    border-color: #E8511A !important;	
}

/* ----- Body ----- */
body{
    background: #FFFFFF;
    color:#343434FF !important;
}

/* ----- Help Page ----- */
/*== H nav ==*/
#op-horizontalnav {
    background:#1F252AFF; 
    position:fixed; 
    top:7%; 
    right:0; 
    left:0;
}

#op-horizontalnav .op-sectionlist {
    width:100%; 
    max-width:1280px; 
    margin:auto;
    padding:0; 
    text-align:center !important; 
    display:table;
}

#op-horizontalnav .op-v-item {
    list-style:none; 
    display:table-cell;
    text-align:center !important;
    font-size:16px
}

#op-horizontalnav .op-v-item .op-v-link {
    color:#fff; 
    padding:16px 100px;
    display:block;
    text-decoration:none;
    text-align:center !important;
}

#op-horizontalnav .op-v-item .op-v-link:hover, #op-horizontalnav .op-v-link.active {
    background-color:#fff;
    color:#171717;
    text-align:center !important;
}

.navbar-fixed {
    top: 0 !important;
    z-index: 100;
    position: fixed;
    width: 100%;
}

/*== V nav ==*/
#op-verticalnav {
    position:fixed; 
    top:0; 
    right:0; 
    left: auto;
    height: 100%;
    display:table
}

#op-verticalnav .op-sectionlist {
    height:100%; 
    text-align:center; 
    display:table-cell; 
    vertical-align:middle
}

#op-verticalnav .op-v-item {
    display:block
}

#op-verticalnav .justify-height {

}

#op-verticalnav .op-v-link {
    display:block; 
    margin:12px 0
}

#op-verticalnav .v-marker {
    width:15px; 
    height:15px; 
    border-radius:50%; 
    background-color:rgba(255, 85, 0, .4);   
    display:inline-block; 
    vertical-align:middle; 
    margin-bottom:-2px; 
    margin-right:10px;border: 1px solid #FFAA00;
}

#op-verticalnav .op-v-link:hover .v-marker, #op-verticalnav .op-v-item .op-v-link.active .v-marker {
    background-color:rgba(255, 141, 10, 1.)1); 
}

#op-verticalnav .op-v-itemdesc {
    display:inline-block; 
    font-size:14px; 
    position:absolute; 
    white-space:nowrap; 
    line-height:normal; 
    padding:0 34px 0 0;
    vertical-align:middle
}

#op-verticalnav .op-v-itemdesc .op-v-itembg{
    display:inline-block; 
    background-color:rgba(0,0,0,.5); 
    color:#fff; 
    padding:4px 10px 6px 10px; 
    border:1px solid rgba(160,160,160,.2); 
    border-radius:4px; 
}

#op-verticalnav .op-v-link:hover .op-v-itemdesc {
    right:0px; 
}

/* ----- Update Data Page -----*/
#warning_order {
    background-color: rgba(255,142,49,.5);
    color:#1F252AFF;
}

#reminder {
    background-color: #FFFFFFFF;
    color:#000000FF;
    font-family: "roboto",arial,sans-serif;

}

/* ----- Table of errors -----*/
#table-error-cell {
    background-color: #FFFFFFFF;
    color: #2F2F2FFF;
}