/* ----- Side Bar ----- */

/* Backgrounds */
.left_col {
	background-color: #1F252AFF;
}

.site_title {
	background-color: #57585A;
}

.nav_title {
	background-color: #343D46FF;
}

/* Footer */
.sidebar-footer {
	background-color: #343D46FF !important;
}

.sidebar-footer a {
	background: #57585A;
}

.sidebar-footer a:hover {
	background: #7E7E7E;
}

a:focus, a:hover {
    color: #C74A17 !important;
}

a {
    color: #CB6637FF;
}

/* Menus */
.nav.side-menu > li.active > a {
    text-shadow: rgba(0,0,0,.25) 0 -1px 0;
    background: linear-gradient(#57585A,#7E7E7E),#1F252AFF;
    background-color: #7E7E7E;
    background-image: linear-gradient(#57585A, #7E7E7E), none;
}

.nav.side-menu > li.active, .nav.side-menu > li.current-page {
    border-right: 5px solid #C74A17;
}

.nav-md ul.nav.child_menu li::before {
    background: #C74A17;
}

.nav-md ul.nav.child_menu li::after {
    border-left: 1px solid #C74A17;
}

/* Navbar Top */
#menu_toggle {
	color: #1F252AFF;
}

/* Profile Infos */
.profile_info{
	width:100%;
}

/* Side Bar Hidden */
.nav-sm .nav.child_menu li.active, .nav-sm .nav.side-menu li.active-sm {
    border-right: 5px solid #C74A17;
}

.nav-sm ul.nav.child_menu li {
	background-color: #7E7E7E;
}

#footersettings{
    color:#fff;
}

/* ----- Registration -----*/
/* Alter success */
.alert-success {
    color: #fff;
    background-color: #58B749FF;
    border-color: #528C49FF;
}

/* Btn Cancle */
.btn-primary {
    color: #fff;
    background-color: #343D46;
    border-color: #1A1E23;
}
.btn-primary:hover {
    color: #fff !important;
    background-color: #AAAA7F;
    border-color: #1A1E23;
}

.btn-primary:focus {
    color: #fff !important;
    background-color: #444433;
    border-color: #010102;
}


/* Btn Register */
.btn-success {
    background-color: #C74A17 !important;
    border-color: #8D3310 !important; 
}
.btn-success:hover {
    color: #fff;
    background-color: #EA975F !important;
    border-color: #E8511A !important;	
}

/* ----- Body ----- */
body{
    background: #FFFFFF;
    color:#343434FF !important;
}

/* ------ Calendar -----*/
.fc-content {
    background-color:#959595FF !important;
    border-color: #464646FF ;
    z-index: 0 !important;
}
.fc-event-container {
    border-color: #464646FF ;
}
.fc-event {
    border: 1px solid #464646FF !important;
    background-color: #464646FF !important;
}

.fc-unthemed td.fc-today {
    background: #FFCD90FF !important;
}

.fc-time-grid-event {
    background-color:#959595FF !important;
}

.fc-event-dot {
    background-color: #C74A17 !important;
}

#text {
    color:#1F252AFF !important;
}

.mail_list {
    color:#1F252AFF !important;    
}

.attachment {
    color:#1F252AFF !important;     
}

/* ----- Mail Box -----*/
#compose {
    background-color: #C74A17 !important;
    border-color: #8D3310 !important;    
}

.compose-header {
   background-color: #EE8348 !important; 
}

#send {
    background-color: #C74A17 !important;
    border-color: #8D3310 !important;     
}