/**
 * @file style.css
 * 
 * @brief Modifications that will complete bootstrap
 */

.navbar-inverse {
    background-color: #FFFFFF;
}

header {
    background-color: #57585A;
}

.navbar-brand {
	padding:0;
	height:2%;
	width:auto;
}

.navbar .container span {
	color: #FFF!important;
	font-size:400%!important;
	display:block;
	margin:10px 0;
	text-align:right;
}

.navbar-header{
	float:left;
}

footer {
	background-color:#57585A;
}

.menu-section .nav > li > a:hover{
	background-color: #C74A17 !important;
}

.menu-top-active {
	background-color: #C74A17 !important;
}

.menu-section .nav > li > a:focus {
    background-color: #C74A17 !important;
}

.navbar-toggle {
    background-color: #C74A17 !important;
}

.menu-section {
    background-color: #403E3F;
}

.fixed-table-loading {
	display:none;
}

.ui-autocomplete-category
{
    font-weight: bold;
    padding: .2em .4em;
    margin: .8em 0 .2em;
    line-height: 1.5;
}

a {
	color:#C74A17;
}

a:hover {
	color:#C74A17;
}

.btn-primary {
	background-color: #C74A17 !important;
	border-color: #57585A;
}

.jumbotron {
	background-color: #FFFFFF !important;
}

.form-control:focus {
	border-color:#C74A17 !important;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(0,0,0,.075);
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(0,0,0,.075);
}

ui-autocomplete-input {
	background-color: #FFFFFF !important;
}

::selection{
  background-color: #C74A17;
  color: white;
}

/* Firefox */
::-moz-selection {
  background-color: #C74A17;
  color: white;
}