h1 {
	color: #1F252AFF;
}

.login_content h1::before {

    background: #C74A17;
}

.login_content h1::after {
    background: #C74A17;
}

.separator {
	color:#1F252AFF;
}

a {
	color:#1F252AFF;
}

.login_content a:hover {
	color:#C74A17;
	text-decoration: none;
}