/**
 * @file style.css
 * 
 * @brief Modifications that will complete bootstrap
 */

/* ----- Global ----- */

/* Global font */
@font-face {
    font-family: "roboto";
    src: url("Roboto-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "roboto";
  font-style: italic;
  src: url('Roboto-Italic.ttf');
}
@font-face {
  font-family: "roboto";
  font-weight: bold;
  src: url('Roboto-Bold.ttf');
}

/* Global Desing */
.navbar-inverse {
    background-color: #FFFFFF;
}

header {
    background-color: #57585A;
}

.navbar-brand {
  padding:0;
  height:2%;
  width:auto;
}

.navbar .container span {
  color: #FFF!important;
  font-size:400%!important;
  display:block;
  margin:10px 0;
  text-align:right;
}

.navbar-header{
  float:left;
}

footer {
  background-color:#57585A;
}

.menu-section .nav > li > a:hover{
  background-color: #C74A17 !important;
}

.menu-top-active {
  background-color: #C74A17 !important;
}

.menu-section .nav > li > a:focus {
    background-color: #C74A17 !important;
}

.navbar-toggle {
    background-color: #C74A17 !important;
}

.menu-section {
    background-color: #403E3F;
}

.fixed-table-loading {
  display:none;
}

a {
  color:#C74A17;
}

a:hover,
a:focus {
  color: #C74A17;
  text-decoration: underline;
}
a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.jumbotron {
  background-color: #FFFFFF !important;
}

.form-control:focus {
  border-color:#C74A17 !important;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(0,0,0,.075);
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(0,0,0,.075);
}

.bg-primary {
  color: #fff;
  background-color: #1F252AFF;
}
a.bg-primary:hover {
  background-color: #1F252AFF;
}

.btn-primary {
  color: #fff;
  background-color: #C74A17 !important;
  border-color: #1F252AFF;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #fff;
  border-color: #fff;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #fff;
  border-color: #fff;
}

.btn-info {
  color: #fff;
  background-color: #fff;
  border-color: #fff;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info:active,
.btn-info.active,
.open > .dropdown-toggle.btn-info {
  color: #fff;
  background-color: #fff;
  border-color: #fff;
}
.btn-info.disabled,
.btn-info[disabled],
fieldset[disabled] .btn-info,
.btn-info.disabled:hover,
.btn-info[disabled]:hover,
fieldset[disabled] .btn-info:hover,
.btn-info.disabled:focus,
.btn-info[disabled]:focus,
fieldset[disabled] .btn-info:focus,
.btn-info.disabled.focus,
.btn-info[disabled].focus,
fieldset[disabled] .btn-info.focus,
.btn-info.disabled:active,
.btn-info[disabled]:active,
fieldset[disabled] .btn-info:active,
.btn-info.disabled.active,
.btn-info[disabled].active,
fieldset[disabled] .btn-info.active {
  background-color: #fff;
  border-color: #fff;
}

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  color: #fff;
  text-decoration: none;
  background-color: #fff;
  outline: 0;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  color: #fff;
  background-color: #fff;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  z-index: 2;
  color: #fff;
  cursor: default;
  background-color: #fff;
  border-color: #fff;
}

.label-primary {
  background-color: #fff;
}
.label-primary[href]:hover,
.label-primary[href]:focus {
  background-color: #fff;
}

.label-info {
  background-color: #fff;
}
.label-info[href]:hover,
.label-info[href]:focus {
  background-color: #fff;
}

.progress-bar {
  float: left;
  width: 0;
  height: 100%;
  font-size: 12px;
  line-height: 20px;
  color: #fff;
  text-align: center;
  background-color: #1F252AFF;
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
          box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
  -webkit-transition: width .6s ease;
       -o-transition: width .6s ease;
          transition: width .6s ease;
}

.shrink {
  width: 100px;
  height: 100px;;
}

/* ----- Index ----- */

/*Title home */
#home1text {
  margin-top: 10%;
  color: #C74A17 !important;
}

#maintitle {
  font-size: 13vw;
  color: #C74A17;
  font-family: "roboto",arial,sans-serif;
  font-style: normal;
}

#mainp {
  font-size: 2vw;
  color: #C74A17;
}

/* Background image*/
#home1 {
  background-image: url("../../img/7596.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  position: relative;
  height: 100vh;
  margin-top: 0px;
  min-height: 600px;
  padding-bottom: 60px;
}

/* Drop down menu */
#target {
  font-size: 8vw;
  border: 1px solid #C74A17;
  border-radius: 48%;
  padding-top : 2%;
  padding-right: 1%;
  padding-left: 1%;
}

/* Research bar */
#divresearch {
  float:none;
}

#research {
  margin-left: 0%;
}

.ui-autocomplete-category
{
    font-weight: bold;
    padding: .2em .4em;
    margin: .8em 0 .2em;
    line-height: 1.5;
}

#searchH {
  margin-left:50%;
}

ui-autocomplete-input {
  background-color: #FFFFFF !important;
}

::selection{
  background-color: #C74A17;
  color: white;
}

/* Firefox */
::-moz-selection {
  background-color: #C74A17;
  color: white;
}

#research {
  width:100%;
}


/* ----- About ----- */

/* Investigators */
#investigators {
  padding-bottom: 90px;
}

#investigator {
  color: #1F252AFF;
  font-family: "roboto",arial,sans-serif;
  font-style: normal;
  font-weight: bold;
  border-bottom: 1px solid #C74A17;
}

/* ----- Sing In / Register ----- */

.admin{
  float:right;
  position:relative;
}

.bg-primary {
  color: #fff !important;
  background-color: rgba(0,0,0,.075) !important;
}

a.bg-primary:hover {
  background-color: rgba(0,0,0,.075) !important;
}

/* Registration */
#name {
  float : left;
}

#email {
  float:left;
}

#password {
  float:left;
}

#password_confirmation {
  float:left;
}

/* ----- Results ----- */

/* Gene Page Results */
#gene {
  background-color: #fff;
}

/* Cell Page Results */
#cell {
  background-color: #fff;
}